 <nav class="navbar navbar-expand-lg navbar-light">
   <a class="navbar-brand" [routerLink]="['/']">
     Dogs Viewer</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
     aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
     <div class="form-inline ml-2 my-2 my-lg-0">
       <div class="input-group mb-3 mycustom">
         <input type="search" class="form-control text-position" #search (keyup.enter)="onSearch(search.value)"
           placeholder="Search" formControlName="searchValue" aria-label="Text input with dropdown button">
         <div class="input-group-append">
           <a><button mat-button type="button" (click)="onSearch(search.value)">
               <mat-icon>search</mat-icon>
             </button></a>
         </div>
       </div>
     </div>
   </div>
 </nav>
